<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>TerraFirmaCraft Smithing Helper</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css"/>
</head>
<body>
    <div id="app" class="container">
        <div class="page-header hidden-xs">
            <h1>TerraFirmaCraft Smithing Helper</h1>
        </div>
        <br/>
        <div class="col-md-7 col-sm-10 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">TerraFirmaCraft Smithing Helper</div>
                <div class="panel-body">
                    <div id="displays" class="row">
                        <div class="col-sm-8"><input class="form-control" type="text" placeholder="（锻造路线）" readonly="readonly" v-model="route"/></div>
                        <div class="col-sm-2 hidden-xs"><input placeholder="值" class="form-control" type="number" readonly="readonly" v-model="value"/></div>
                        <div class="col-sm-2"><input class="form-control btn btn-toolbar" :class="{'btn-primary':mustreset}" type="button" value="清除" @click="reset"/></div>
                    </div>
                    <br/>
                    <div id="controls" class="row">
                        <div class="col-sm-3 col-xs-6" v-for="operation in operations" style="padding: 5px">
                            <button class="btn btn-lg btn-block" @click="perform(operation)" :disabled="mustreset">{{operation[0]}}<br/>({{operation[1]}})</button>
                        </div>
                    </div>
                    <div id="search" class="row">
                        <button class="btn form-control" :class="{'btn-default':mustreset, 'btn-success':!mustreset}" @click="autofill(-value)">自动补完</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="assets/vue.min.js"></script>
<script src="assets/core.js"></script>
</html>